[project]
	description = A Property Graph Model Interface
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joey Freund (joeyfreund)
[access "refs/for/refs/*"]
	read = group user/Joey Freund (joeyfreund)
	push = group user/Joey Freund (joeyfreund)
	label-Code-Review = -2..+2 group user/Joey Freund (joeyfreund)
	label-Verified = -1..+1 group user/Joey Freund (joeyfreund)
	rebase = group user/Joey Freund (joeyfreund)
	removeReviewer = group user/Joey Freund (joeyfreund)
	submit = group user/Joey Freund (joeyfreund)
[access "refs/heads/*"]
	read = group user/Joey Freund (joeyfreund)
	create = group user/Joey Freund (joeyfreund)
	push = +force group user/Joey Freund (joeyfreund)
	pushMerge = group user/Joey Freund (joeyfreund)
[access "refs/tags/*"]
	push = +force group user/Joey Freund (joeyfreund)
	pushTag = group user/Joey Freund (joeyfreund)
	pushSignedTag = group user/Joey Freund (joeyfreund)
